<div class="top-label" *ngIf="props.labelPosition == 'Top'">
  <ng-container *ngTemplateOutlet="Label"></ng-container>
  <ng-container #fieldComponent></ng-container>
</div>

<div class="top-label" *ngIf="props.labelPosition == 'Left'">
  <div class="field-wrapper">
    <div class="left-label" [ngStyle]="{ width: props.styles?.labelWidth }">
      <ng-container *ngTemplateOutlet="Label"></ng-container>
    </div>

    <div class="flex-grow-1">
      <ng-container #fieldComponent></ng-container>
    </div>
  </div>
</div>

<ng-template #Label>
  <label [classList]="props.styles?.labelClass">
    {{ props.label || (props.labelObs | async) }}
    <span class="colon" *ngIf="props.labelPosition == 'Left'">:</span>
    <span class="required" *ngIf="props.required">*</span>
  </label>
</ng-template>
