formly-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-auto {
  flex-grow: 1;
}

.flex-25 {
  width: 25%;
}

.flex-50 {
  width: 50%;
}

.flex-75 {
  width: 75%;
}

.flex-100 {
  width: 100%;
}


@media (max-width: 1000px) {
  .flex-25 {
    width: 50%;
  }

  .flex-50 {
    width: 50%;
  }

  .flex-75 {
    width: 100%;
  }

  .flex-100 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .flex-25, .flex-50, .flex-75, .flex-100 {
    width: 100%;
  }
}
