<nz-input-group
  [nzAddOnAfter]="props.nzAddOnAfter"
  [nzAddOnBefore]="props.nzAddOnBefore"
  [nzPrefix]="props.nzPrefix"
  [nzSuffix]="props.nzSuffix"
  [nzSize]="props.nzSize || 'default'"
>
  <input
      #input
      nz-input
      [mask]="mask"
      [type]="type"
      [readonly]="props.readonly"
      [formControl]="formControl"
      [id]="'control-' + field.key"
      [placeholder]="props.placeholder"
      [nzBorderless]="props.nzBorderless"
      [disabled]="props.disabled || false"
      [nzStatus]="formControl.touched && formControl.invalid ? 'error' : ''"
  />
  <div class="show-password" *ngIf="props.type === 'password'">
    <span
      nz-icon
      nzTheme="outline"
      (click)="changeShowPassword(input)"
      [nzType]="showPassword(input) ? 'eye-invisible' : 'eye'"
    ></span>
  </div>
</nz-input-group>
