label {
  display: flex;
  font-size: 100%;
  font-weight: 600;
  min-height: 30px;
  width: fit-content;
  align-items: center;

  ::ng-deep {
    .ant-checkbox {
      top: 0 !important;
    }

    .ant-checkbox-checked::after {
      visibility: hidden !important;
    }
  }
}
