<div
  class="position-relative"
  [classList]="props.styles?.wrapperClass"
  [id]="'wrapper-' + field.key"
  *ngIf="!props.hidden"
>
  <ng-container #fieldComponent></ng-container>
  <div
    class="error-message"
    [ngStyle]="{ 'margin-left': props.styles?.labelWidth }"
    *ngIf="formControl.touched && formControl.invalid"
    [@myAnimation]="formControl.touched && formControl.invalid"
  >
    <span nz-icon nzType="info-circle" nzTheme="outline"></span>
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>
</div>
