<div class="top-label" *ngIf="props.labelPosition == 'Top'">
  <small>{{ props.label }}</small>
  <ng-container #fieldComponent></ng-container>
</div>

<div class="top-label" *ngIf="props.labelPosition == 'Left'">
  <div class="field-wrapper">
    <div [ngStyle]="{ width: props.styles?.labelWidth }">
      <label [classList]="props.styles?.labelClass">{{ props.label }}:</label>
    </div>

    <div class="flex-grow-1">
      <ng-container #fieldComponent></ng-container>
    </div>
  </div>
</div>
