<nz-input-number-group
  [nzAddOnAfter]="props.nzAddOnAfter"
  [nzAddOnBefore]="props.nzAddOnBefore"
  [nzAddOnAfterIcon]="props.nzAddOnAfterIcon"
  [nzAddOnBeforeIcon]="props.nzAddOnBeforeIcon"
  [nzPrefix]="props.nzPrefix"
  [nzSuffix]="props.nzSuffix"
  [nzSize]="props.nzSize || 'default'"
>
  <nz-input-number
    *ngIf="props.format"
    #Input
    [nzId]="fieldID"
    [formControl]="formControl"
    [nzMin]="props.nzMin"
    [nzMax]="props.nzMax"
    [nzStatus]="props.nzStatus"
    [nzFormatter]="nzFormatter"
    [nzDisabled]="props.disabled"
    [nzPrecision]="props.nzPrecision"
    [nzPrecisionMode]="props.nzPrecisionMode"
    [nzPlaceHolder]="props.placeholder"
    (ngModelChange)="props.valueChange?.bind($event)"
    (keyup)="focusInOut(Input)"
  ></nz-input-number>
  <nz-input-number
    *ngIf="!props.format"
    [nzId]="fieldID"
    [formControl]="formControl"
    [nzMin]="props.nzMin"
    [nzMax]="props.nzMax"
    [nzStatus]="props.nzStatus"
    [nzDisabled]="props.disabled"
    [nzPrecision]="props.nzPrecision"
    [nzPrecisionMode]="props.nzPrecisionMode"
    [nzPlaceHolder]="props.placeholder"
    (ngModelChange)="props.valueChange?.bind($event)"
  ></nz-input-number>
</nz-input-number-group>
